@charset "UTF-8";

/* work */

body {
  background-color: #cff1ff;
}

.wrapper {
  margin-inline: auto;
  width: 600px;
  margin-bottom: 120px;
}

form {
  background-color: #ecfaff;
  padding: 50px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-block: 60px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

fieldset {
  margin-top: 50px;
}

legend {
  font-size: 18px;
  color: #000000;
}

li {
  margin-top: 25px;
}

.form-textfield {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  background-color: #fbfbfb;
  color: #545658;
  border: 1px solid #d9d9d9;
}

.form-label {
  font-size: 14px;
  color: #464646;
}

.form-gender-label {
  font-size: 16px;
  color: #545658;
}

.required-marker {
  color: #e40000;
  margin-left: 4px;
}

.form-submit-button {
  /* サイズ・間隔 */
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  margin-top: 50px;
  /* 外観 */
  background-color: #0170bf;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  cursor: pointer;
  /* フォント */
  font-size: 13px;
  color: #fff;
  text-align: center;
  /* active時のアニメーション時間 */
  transition: 0.3s;
  &:active {
    /* active時に色を変える */
    background-color: #fff;
    color: #0170bf;
  }
}

.form-notice {
  font-size: 10px;
  margin-top: 25px;
}

.link-text {
  color: #0170bf;
  text-decoration: none;
}

.gender-wrapper {
  display: flex;
  margin-top: 6px;
  gap: 16px;
}

.gender-component {
  input[type="radio"] {
    /* 既定のスタイルを無効化 */
    appearance: none;
  }
  label {
    padding: 3px;
    /* ラジオボタン用の余白 */
    padding-left: 20px;
    /* position: absoluteのアンカー用 */
    position: relative;
    &::before {
      /* ラジオボタンのスタイル */
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: #fbfbfb;
      border: 1px solid #d9d9d9;
      /* 丸くする */
      border-radius: 50%;
      /* 位置調整 */
      top: 50%;
      left: 0px;
      /* 中央揃え */
      transform: translateY(-50%);
    }
  }
  input[type="radio"]:checked + label::after {
    /* 選択中ラジオボタンのスタイル */
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #017cbf;
    /* 丸くする */
    border-radius: 50%;
    /* 位置調整 */
    top: 50%;
    left: 4px;
    /* 中央揃え */
    transform: translateY(-50%);
  }
}

.custom-checkbox {
  /* 規定のスタイルを無効化 */
  appearance: none;
  /* position: absoluteのアンカー用 */
  position: relative;
  &::before {
    /* チェックボックスのスタイル */
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    /* 位置調整 */
    top: 0;
    left: 7px;
    margin-top: -10px;
  }
  &:checked::after {
    /* チェックマークのスタイル */
    content: "";
    position: absolute;
    width: 6px;
    height: 13px;
    border-right: 3px solid #0140bf;
    border-bottom: 3px solid #0140bf;
    transform: rotate(45deg);
    /* 位置調整 */
    top: 0;
    left: 13px;
    margin-top: -13px;
  }
  + label {
    /* ラベルとの間隔 */
    margin-left: 25px;
  }
}
